<!DOCTYPE html>
<html>
<head>
	<title> Lista </title>
</head>
<body>
{% block title %}Detalles de equipos{% endblock %}

{% block content %}

<br> 

<table class = "table table-strip"> 

<th> Nombre de equipos </th>
<th> No. de jugadores </th>
<th> Ciudad de sede </th>

{% for equipo in list_equipos %} 
<tr>
<td>{{ equipo.nombre_del_equipo }}</td>>
<td>{{ equipo.no_de_jugadores }}</td>>
<td>{{ equipo.ciudad_de_sede }}</td>>
</tr>


{% endfor %}

</table>

{% endblock %}


</body>
</html>
