<!DOCTYPE html>
<html>
<head>
	<title> Lista </title>
</head>
<body>
{% block title %}Lista de equipos{% endblock %}

{% block content %}

<br>

<table class = "table table-strip">

<th> Nombre de Equipos </th>

{% for equipo in list_equipos %}
<tr>
<td>{{ equipo.nombre_del_equipo }}</td>>
</tr>

{% endfor %}

</table>

{% endblock %}

</body>
</html>
